
<link rel="stylesheet" href="/html/attempt_two.css"/>


header {
  text-align: center;
  color: rgb(238, 130, 238);
}

body {
  background-color: black;
}

a:link {
  color: rgb(0, 0, 0,);
}

h1 {
  font-size: 70px;
  color: rgb(238, 130, 238);
  text-align: center;
}

p{
  background-color: rgb(238, 130, 238);
}

p2{
  background-color: rgb(238, 130, 238)
  padding-top: 30px;
}

form{
  background-color: rgb(238, 130, 238)
}

img {
  margin: 40px 0px 0px 40px;
  border: 7px solid rgb(238, 130, 238);
  border-radius: 20px;
}

 ul {
  padding: 10px;
  background: rgb(238, 130, 238);
}

li {
  display: inline;
  padding: 90px 120px 90px 120px;
  color: white;
  }

  p {
    text-align: center;
  }

.footer{
    padding-top: 30px;
  }


a:link, a:visited {
    background-color: purple;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;

    padding-left: 20px;
}

}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.recipeForm{
  padding-top: 40px;
}
.submittitle{
  padding-top: 30px;
}
.footer{
  padding-top: 40px;
text-align: center;
}
