
<link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">

header {
  text-align: center;
  color: pink;
}
a {
  color: black;
}
h1 {
  font-size: 70px;
  color: pink;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
 ul {
  padding: 10px;
  background: pink;
}
li {
  display: inline;
  padding: 0px 20px 0px 20px 0px 20px;
  color: white;
}



<a href="default.asp">
  <img src="alcohol_outline.jpeg" alt="Booze of the Day" style="width:42px;height:42px;border:0;">
</a>
