<link rel="stylesheet" href="/student_recipies.html/student_recipies.css"/>

body {

                background-color: black;

}



p { color: black;

                font-style: oblique;

                font-size: 50px



}



p2 { color: black;

                font-style: oblique;

                font-size: 50px





}

h1 {

  font-size: 100px;

  color: red;

  font-style: oblique;

  text-align: left;

}





li {

  display: table-footer-group;

  padding: 90px 120px 90px 120px;

  color: red;

                font-size: 20px



  }
